.about{
    padding: 2rem;
    width: 50%;
    margin: 1rem auto;
    min-height: 25rem;
    color: white;
    background-color: #040433;
    transition: all 400ms ease-in-out;
}
.about >h2{
    margin: 1rem;
    text-align: center;
    color: crimson;
}
.about > p{
    text-align: justify;
    line-height: 1.5;
    padding-bottom: 1rem;
}
p > small{
    font-weight: 500;
    font-size: 17px;
    color: crimson;
    text-decoration: underline;
}
@media screen and (max-width:800px){
    .about{
        width: 100%;
        height: max-content;
    }
}