
.cards{
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    transition: all 400ms ease-out;
}
.card{
    line-height: 1.5;
    padding: 2rem;
    width: 35%;
    height: 14rem;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;

}
.card_icon{
    color: crimson;
    font-size: 2.5rem;
}
.card >h4{
    color: rgb(241, 143, 14);
    margin: 0.5rem;
    font-weight: 700;
}


@media screen and (max-width:1200px) {
    .cards{
        
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
   .card{
       padding: 1rem;
       width: 65%;
       height: 11rem;
   }
   .card >p{
       font-size: 14px;
   }

}    

@media screen and (max-width:900px) {
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   .card{
       padding: 1rem;
       width: 96%;
       height: 11rem;
   }
    
   .card >p{
       font-size: 14px;
   }
   .card >h4{
    font-weight: 400;
}
}

@media screen and (max-width:400px) {
    .cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   .card{
       padding: 2rem;
       width: 100%;
       height: max-content;
   }
    
   .card >p{
       font-size: 14px;
   }
   .card >h4{
    font-weight: 400;
}
}