.gallery{
    width: 100vw;
    min-height: 30rem;
    max-height: max-content;
    padding: 2rem;
    background-color: cadetblue;
    text-align: justify;

    
}
.gallery.gallery_modifier{
    width: var(--container-lg);
    margin: 0 auto 1rem;
}
.gallery > h2{
    margin: 2rem 0;
}

.gallery_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}

@media screen and (max-width:800px){
    .gallery.gallery_modifier{
        width: var(--container-sm);
        padding: 2rem;
        margin: 1rem auto;
    }

    .gallery_container{
        display: grid;
        grid-template-columns: 1fr;
    }
}